{% extends "base.html" %}
{% block "account" %}
{% include "partials/_logout.html" %}
{% endblock "account" %}
{% block content %}
<div class="container">
    {% include "partials/_messages.html" %}
    <h1>Expense List</h2>
    <ul class="list-group">
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>
        <li class="list-group-item"> Bought Soda </li>

    </ul>

</div>
{% endblock content %}
    


